<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Horario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Arquitectura</ion-card-title>
        <ion-card-subtitle>ASY4131-008v</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Calidad de Software</ion-card-title>
        <ion-card-subtitle>CSY4111-008v</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Ética para el Trabajo</ion-card-title>
        <ion-card-subtitle>EAY4450-006v</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Inglés Intermedio</ion-card-title>
        <ion-card-subtitle>INI5111-018v</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Proceso de Portafolio 4</ion-card-title>
        <ion-card-subtitle>ASY4161-020v</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Programación de Aplicaciones Móviles</ion-card-title>
        <ion-card-subtitle>PGY4121-008v</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
